<h2>Create an account</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmitReg()">
  <div class="form-group"
       [ngClass]="{'has-error': formReg.get('name').invalid && formReg.get('name').touched}">
    <label>Name*</label>
    <input type="text" class="form-control" formControlName="name">
    <p *ngIf="formReg.get('name').invalid && formReg.get('name').touched" class="alert alert-danger">Name
      should not be empty</p>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': formReg.get('email').invalid && formReg.get('email').touched}">
    <label>Email*</label>
    <input type="text" class="form-control" formControlName="email">
    <p *ngIf="formReg.get('email').invalid && formReg.get('email').touched" class="alert alert-danger">Email
      should not be empty</p>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': formReg.get('pass').invalid && formReg.get('pass').touched}">
    <label>Password*</label>
    <input type="password" class="form-control" formControlName="pass">
    <p *ngIf="formReg.get('pass').invalid && formReg.get('pass').touched" class="alert alert-danger">
      Password should not be empty</p>
    <p *ngIf="formReg.get('pass').hasError('minlength')" class="alert alert-danger">Password can be min 6
      characters long.</p>
  </div>
  <div class="form-group"
       [ngClass]="{'has-error': formReg.get('passConfirm').invalid && formReg.get('passConfirm').touched}">
    <label>Confirm password*</label>
    <input type="password" class="form-control" formControlName="passConfirm">
    <p *ngIf="formReg.get('passConfirm').invalid && formReg.get('passConfirm').touched"
       class="alert alert-danger">Confirm password should not be empty</p>
    <p *ngIf="formReg.get('passConfirm').hasError('minlength')" class="alert alert-danger">Confirm password
      can be min 6 characters long.</p>
  </div>
  <button class="btn btn-success" type="submit" [disabled]="formReg.invalid">Create</button>
  <p *ngIf="successMessage" class="alert alert-success">Thanks! You can login now</p>
  <p *ngIf="errorMessage" class="alert alert-danger">Passwords must match</p>
</form>
