<hr/>
<div class="row justify-content-between">
    <h1>Projects</h1>
    <button class="btn btn-danger" (click)="clickLogout()">LogOut</button>
</div>
<hr/>
<div class="row">
    <div class="card" style="width: 18rem;" *ngFor="let project of projects">
        <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID: {{project.id}}</h6>
            <p class="card-text">{{project.description}}</p>
            <a [routerLink]="['/projects', project.id, project.name]" class="badge badge-success">Go to project</a>
        </div>
    </div>
</div>

