<div class="col-xs-12">
    <hr/>
    <b><a [routerLink]="['/projects']"><< Back</a></b>
    <hr/>
    <div class="row">
        <div class="col-xs-9">
            <h2>Tasks</h2>
            <div class="input-group">
                <input [(ngModel)]="newIssue" type="text"
                       class="form-control"
                       placeholder="Add new task"
                       aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="addIssue()">Add task</button>
                </div>
            </div>
            <hr/>
            <ul class="list-group">
                <li *ngFor="let issue of issues" class="list-group-item">
                    <h3><a [routerLink]="['/projects', id, name, issue.id, issue.subject ]">{{issue.subject}},
                        #{{issue.id}}</a></h3>
                    <p>Date <span class="badge badge-secondary">{{issue.start_date | date: 'mediumDate'}}</span></p>
                    <p>Priority <span class="badge badge-secondary">{{issue.priority.name}}</span></p>
                </li>
            </ul>
        </div>

        <div class="offset-1 col-xs-2">
            <app-comments [id]="id" [name]="name"></app-comments>
        </div>

    </div>
</div>

