

  <div class="col-xs-12">
    <b><a [routerLink]="['/projects']"><< Back</a></b>
    <hr/>
    <h2>Issues</h2>
    <div class="input-group">
      <input  [(ngModel)]="newIssue" type="text"
              class="form-control"
              placeholder="Add new Issue"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addIssue()">Add Issue</button>
      </div>
    </div>
    <hr/>
    <ul class="list-group">
      <li *ngFor="let issue of issues.issues" class="list-group-item">
        <h3><a [routerLink]="['/projects', id, name, issue.id, issue.subject ]" >#{{issue.id}}, {{issue.subject}} </a></h3>
        <p>Date: {{issue.start_date | date: 'shortDate'}}</p>
        <p>Priority: {{issue.priority.name}}</p>
      </li>
    </ul>
  </div>

