
<div class="row">
  <div class="col-xs-8 offset-2">
    <h2>Issues</h2>
    <div class="input-group m">
      <input  [(ngModel)]="newIssue" type="text"
              class="form-control"
              placeholder="Add new Issue"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="addIssue()">Add Issue</button>
      </div>
    </div>
    <hr/>
    <ul class="list-group">
      <li *ngFor="let issue of issues.issues" class="list-group-item">
        <p>{{issue.id}}</p>
        <a [routerLink]="['/projects', id, name, issue.id, issue.subject ]" >{{issue.subject}}</a>
        <p>{{issue.start_date}}</p>
      </li>
    </ul>
  </div>

</div>
